/*虚空文学旅团ePub组*/

/*自定义样式请写在这里*/

/*全局文本*/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 1%;
  line-height: 130%;
  text-align: justify;
  font-family: main, sym;
}

h3 {
  text-indent: 0;
  line-height: 1.1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.35em;
  margin: 1.7em 0 1.5em;
  font-family: ch2, sym;
}

h4 {
  text-indent: 0;
  line-height: 1.1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin: 1.7em 0 0.5em;
  font-family: ch1, sym;
}

h5 {
  text-indent: 0;
  line-height: 1.1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin: 0.5em 0 1.5em;
  font-family: ch3, sym;
}

div {
  margin: 0;
  padding: 0;
  text-align: justify;
}

p {
  text-indent: 2em;
  display: block;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ruby rt {
  text-indent: 0;
  font-size: 0.5em;
}

#nav,#nav * {
  display: none;
  height: 0  !important;
  line-height: 0  !important;
  font-size: 0  !important;
  font-family: serif  !important;
}

/*设备分流*/
@media screen and (max-device-aspect-ratio:11/16) {
/*仅手机显示*/
  .pc {
    display: none  !important;
  }

  .pe {
    display: block  !important;
  }
}

@media screen and (min-device-aspect-ratio:5/4) {
/*仅手机隐藏*/
  .pe {
    display: none  !important;
  }

  .pc {
    display: block  !important;
  }
}

/*图片*/
img {
  margin: 0;
  padding: 0;
  text-indent: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
  vertical-align: duokan-middle-line;
}

.cover,.kuchie,.illus {
  display: flex;
  height: 90vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.cover img {
  border-style: none solid;
  border-color: #000;
  border-width: 1px;
}

.illus {
  padding: 0.5em 0 1.5em;
}

/*排版*/
.zin {
  text-indent: 0;
}

.left {
  text-indent: 0;
  text-align: left;
}

.right {
  text-indent: 0;
  text-align: right;
}

.center {
  text-indent: 0;
  text-align: center;
}

.vt {
  vertical-align: top;
}

.vb {
  vertical-align: bottom;
}

.vm {
  vertical-align: middle;
  vertical-align: duokan-middle-line;
}

/*定位*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cb {
  clear: both;
}

.cc {
  margin: 0 auto;
  max-width: fit-content;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.r {
  --position: relative;
  position: var(--position);
  duokan-bleed: leftright;
}

.ac {
  --position: absolute;
  position: var(--position);
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  }

.lt {
  position: absolute;
  left: 0;
  top: 0;
  duokan-bleed: left;
}

.lb {
  position: absolute;
  left: 0;
  bottom: 0;
  duokan-bleed: left;
}

.rt {
  position: absolute;
  right: 0;
  top: 0;
  duokan-bleed: right;
}

.rb {
  position: absolute;
  right: 0;
  bottom: 0;
  duokan-bleed: right;
}

.ct {
  box-sizing: content-box;
}

/*格式*/
.no {
  font-weight: normal  !important;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 900;
}

.lighter {
  font-weight: 100;
}

.ita {
  font-style: italic;
}

.cut {
  text-indent: 0;
  line-height: 1.1em;
  margin: 1.5em 0 0.5em;
  text-align: center;
  font-size: 1.2em;
  font-family: ch1, sym;
}

.cut-line {
  box-sizing: content-box;
  width: 100%;
  height: 1px;
  margin: 2em 0;
  text-indent: 0;
  line-height: 0;
  border-width: 1px;
  border-color: #000;
  border-style: solid none none;
}

.t-lt {
  text-decoration: line-through;
}

.em-dot {
  -webkit-text-emphasis-style: filled dot;
  -epub-text-emphasis-style: filled circle;
  text-emphasis: circle #000;
  -webkit-text-emphasis-position: under;
  text-emphasis-position: under;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.lh {
  line-height: 1em;
}

.nowrap {
  white-space: nowrap;
}

.pre {
  white-space: pre;
}

.dash-break {
  word-break: break-all;
  word-wrap: break-word;
  line-break: anywhere;
}

/*字色*/
.red {
  color: #ff0000;
}

.green {
  color: #00ff00;
}

.blue {
  color: #0000ff;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.kuro {
  text-shadow: 1px 1px 1px #000;
}

.shiro {
  text-shadow: 1px 1px 1px #fff;
}

.hei {
  text-shadow: 0 0 3px #000;
}

.bai {
  text-shadow: 0 0 3px #fff;
}

.koku {
  text-shadow: 2px 2px 0 #000;
}

.haku {
  text-shadow: 2px 2px 0 #fff;
}

/*盒子*/
.paper {
  width: 90%;
  margin: 1em auto;
  padding: 1em 0.5em;
  background-color: #fff;
  border-width: 1px 5px 5px 1px;
  border-color: #000;
  border-style: solid double double solid;
  box-shadow: 3px 3px 3px #7c7c7c;
}

.dialog {
  margin: 1em 0.5em 1em 0.8em;
  padding: 0.2em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #7c7c7c;
}

.circle {
  width: 2em;
  height: 2em;
  text-align: center;
  padding: 1em 0.5em 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #7c7c7c;
}

/*表格与列表*/
table {
  margin: 1em auto;
  font-family: int, sym;
}

td {
  padding: 0.2em 1em;
}

.bc {
  border-collapse: collapse;
}

.bs {
  border-spacing: 0;
}

ul {
  margin: 2em 1em 2em 1.5em;
  padding: 0;
  text-indent: 0;
  font-weight: bold;
  line-height: 1.5em;
}

ul li {
  margin: 0.5em 0 0.5em 1em;
  text-indent: 0;
  font-weight: lighter;
  list-style-position: inside;
}

/*标题页*/
.tiw {
  width: 100%;
}

.tih {
  height: 100%;
}

.tilh {
  text-indent: 0;
  line-height: 1em;
  margin: 0;
}

/*目录页*/
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.contents {
  font-family: cont, sym;
  text-indent: 0.2em;
  text-align: left;
  font-size: 2em;
  margin: 1.5em 0 1em 1em;
  font-weight: bold;
}

.contbg {
  background-image: ;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.mulu {
  width: fit-content;
  text-indent: 0;
  text-align: left;
  line-height: 1.1em;
  padding: 0.35em;
  margin-left: 2em;
  font-family: ctt1, sym;
}

.mulu:hover {
  background-color: rgba(124, 124, 124, 0.15);
}

/*制作信息页*/
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30em;
  height: 90vh;
  max-height: 40em;
  min-height: 32em;
  margin: 0 auto;
  padding: 1em 0 2em;
  background-color: #333;
  border: 1px solid #333;
  font-family: mes, sym;
}

.message > div {
  width: 100%;
  margin: 7% 0;
  padding: 1em;
  background-color: #fcfcfc;
  -webkit-transform: skewY(8deg);
  transform: matrix(1, 0.14054, 0, 1, 0, 0);
  transform-origin: center;
}

.message p {
  margin: 0;
  text-indent: 0;
  line-height: 1em;
  text-align: left;
  -webkit-transform: skewX(-8deg);
  transform: matrix(1, 0, -0.14054, 1, 0, 0);
  transform-origin: center;
}

.meg {
  margin-bottom: -1.2em;
}

.meg p {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 0 #fff;
  color: #333;
}

.meghr {
  border-style: dotted none none;
  border-color: #7c7c7c;
  border-width: 0.2em;
  margin-bottom: 0.5em;
}

.creator {
  color: #fff;
  background-color: #333;
  padding: 0.2em 0 0.2em 0.5em;
}

.creator + div {
  padding: 0.2em 0 0.3em 10%;
}

.group {
  color: #333;
  border: 2px solid #333;
  padding: 1em 0.2em;
}

.group p {
  text-align: center;
  font-weight: bold;
}

.logo {
  text-align: right;
  margin: 0.5em 1em 0 0;
  -webkit-transform: skewX(-8deg);
  transform: matrix(1, 0, -0.14054, 1, 0, 0);
  transform-origin: center;
}

.logo img {
  width: 7em;
}

/*简介页*/
.summary {
  max-width: fit-content;
  margin: 0.5em auto;
  padding: 0.5em 0.5em 1em;
  border: 1px solid #333;
  border-radius: 10px;
  font-family: sum, sym;
}

.summary h3 {
  margin: 0.5em 0 0;
}

.summary p {
  text-indent: 0;
  margin: 0 0.5em 0.8em;
}

.summary hr {
  color: #333;
}

.summary hr + p {
  margin-top: 1em;
}

/*注释*/
sup,sup * {
  cursor: help;
}

sup {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super  !important;
  z-index: 1;
}

aside {
  border: 3px #333 double;
  margin: 0 2em;
  border-radius: 10px;
  background-color: #fcfcfc;
}

aside:hover {
  background-color: #eee;
}

aside ol {
  margin: 0.2em auto;
  padding: 0 0.5em;
}

aside p {
  margin-left: 2em;
  text-indent: -2em;
}

.zhangyue-footnote {
  vertical-align: top;
  height: 1.2em  !important;
  width: auto;
  border: 0;
}

.duokan-footnote {
  height: 1.2em  !important;
  width: auto;
  border: 0;
}

.duokan-footnote-item {
  text-indent: 0;
  font-family: note, sym;
  text-shadow: 0 0 0.1em #000;
  font-size: 0.9em;
  text-align: left;
}

/*字体*/
.title {
  font-family: title, sym  !important;
}

.illus1 {
  font-family: illus1, sym  !important;
}

.illus2 {
  font-family: illus2, sym  !important;
}

.illus3 {
  font-family: illus3, sym  !important;
}

.illus4 {
  font-family: illus4, sym  !important;
}

.illus5 {
  font-family: illus5, sym  !important;
}

.mes {
/*制作信息*/
  font-family: mes, sym  !important;
}

.sum {
/*简介*/
  font-family: sum, sym  !important;
}

.cont {
/*目录标题*/
  font-family: cont, sym  !important;
}

.ctt1 {
/*目录章节粗*/
  font-family: ctt1, sym  !important;
}

.ctt2 {
/*目录章节细*/
  font-family: ctt2, sym  !important;
}

.ch1 {
/*正文标题粗*/
  font-family: ch1, sym  !important;
}

.ch2 {
/*正文标题中*/
  font-family: ch2, sym  !important;
}

.ch3 {
/*正文标题细*/
  font-family: ch3, sym  !important;
}

.main {
/*正文文本*/
  font-family: main, sym  !important;
}

.int {
/*正文强调*/
  font-family: int, sym  !important;
}

.note {
/*注释*/
  font-family: note, sym  !important;
}

.sym {
/*特殊符号*/
  font-family: sym  !important;
}

.num {
/*直排英数*/
  font-family: num, sym  !important;
}

.num p {
  margin: 0;
  text-indent: 0;
  line-height: 1em;
}

@font-face{font-family:"title";src:url(../Fonts/title.ttf);}
@font-face{font-family:"illus1";src:url(../Fonts/illus1.ttf);}
@font-face{font-family:"illus2";src:url(../Fonts/illus2.ttf);}
@font-face{font-family:"illus3";src:url(../Fonts/illus3.ttf);}
@font-face{font-family:"illus4";src:url(../Fonts/illus4.ttf);}
@font-face{font-family:"illus5";src:url(../Fonts/illus5.ttf);}
@font-face{font-family:"mes";src:url(../Fonts/mes.ttf);}
@font-face{font-family:"sum";src:url(../Fonts/sum.ttf);}
@font-face{font-family:"cont";src:url(../Fonts/cont.ttf);}
@font-face{font-family:"ctt1";src:url(../Fonts/ctt1.ttf);}
@font-face{font-family:"ctt2";src:url(../Fonts/ctt2.ttf);}
@font-face{font-family:"ch1";src:url(../Fonts/ch1.ttf);}
@font-face{font-family:"ch2";src:url(../Fonts/ch2.ttf);}
@font-face{font-family:"ch3";src:url(../Fonts/ch3.ttf);}
@font-face{font-family:"main";src:url(../Fonts/main.ttf);}
@font-face{font-family:"int";src:url(../Fonts/int.ttf);}
@font-face{font-family:"note";src:url(../Fonts/note.ttf);}
@font-face{font-family:"sym";src:url(../Fonts/sym.ttf);}
@font-face{font-family:"num";src:url(../Fonts/num.ttf);}

/*字号*/
.em {
  font-size: 1em  !important;
}

.em01 {
  font-size: 0.1em;
}

.em02 {
  font-size: 0.2em;
}

.em03 {
  font-size: 0.3em;
}

.em04 {
  font-size: 0.4em;
}

.em05 {
  font-size: 0.5em;
}

.em06 {
  font-size: 0.6em;
}

.em07 {
  font-size: 0.7em;
}

.em08 {
  font-size: 0.8em;
}

.em09 {
  font-size: 0.9em;
}

.em105 {
  font-size: 1.05em;
}

.em11 {
  font-size: 1.1em;
}

.em115 {
  font-size: 1.15em;
}

.em12 {
  font-size: 1.2em;
}

.em125 {
  font-size: 1.25em;
}

.em13 {
  font-size: 1.3em;
}

.em14 {
  font-size: 1.4em;
}

.em15 {
  font-size: 1.5em;
}

.em16 {
  font-size: 1.6em;
}

.em17 {
  font-size: 1.7em;
}

.em18 {
  font-size: 1.8em;
}

.em19 {
  font-size: 1.9em;
}

.em20 {
  font-size: 2em;
}

.em21 {
  font-size: 2.1em;
}

.em22 {
  font-size: 2.2em;
}

.em23 {
  font-size: 2.3em;
}

.em24 {
  font-size: 2.4em;
}

.em25 {
  font-size: 2.5em;
}

.em26 {
  font-size: 2.6em;
}

.em27 {
  font-size: 2.7em;
}

.em28 {
  font-size: 2.8em;
}

.em29 {
  font-size: 2.9em;
}

.em30 {
  font-size: 3em;
}

.em31 {
  font-size: 3.1em;
}

.em32 {
  font-size: 3.2em;
}

.em33 {
  font-size: 3.3em;
}

.em34 {
  font-size: 3.4em;
}

.em35 {
  font-size: 3.5em;
}

.em36 {
  font-size: 3.6em;
}

.em37 {
  font-size: 3.7em;
}

.em38 {
  font-size: 3.8em;
}

.em39 {
  font-size: 3.9em;
}

.em40 {
  font-size: 4em;
}

.em41 {
  font-size: 4.1em;
}

.em42 {
  font-size: 4.2em;
}

.em43 {
  font-size: 4.3em;
}

.em44 {
  font-size: 4.4em;
}

.em45 {
  font-size: 4.5em;
}

.em46 {
  font-size: 4.6em;
}

.em47 {
  font-size: 4.7em;
}

.em48 {
  font-size: 4.8em;
}

.em49 {
  font-size: 4.9em;
}

.em50 {
  font-size: 5em;
}

.em51 {
  font-size: 5.1em;
}

.em52 {
  font-size: 5.2em;
}

.em53 {
  font-size: 5.3em;
}

.em54 {
  font-size: 5.4em;
}

.em55 {
  font-size: 5.5em;
}

.em56 {
  font-size: 5.6em;
}

.em57 {
  font-size: 5.7em;
}

.em58 {
  font-size: 5.8em;
}

.em59 {
  font-size: 5.9em;
}

.em60 {
  font-size: 6em;
}

/*变形*/
.turn {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: center;
}

.mirrorX {
  -webkit-transform: scaleX(-1);
  transform: scale(-1, 1);
  transform-origin: center;
}

.mirrorY {
  -webkit-transform: scaleY(-1);
  transform: scale(1, -1);
  transform-origin: center;
}

.l05 {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  transform-origin: center;
}

.l07 {
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  transform-origin: center;
}

.l10 {
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  transform-origin: center;
}

.l12 {
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  transform-origin: center;
}

.l15 {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  transform-origin: center;
}

.l30 {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  transform-origin: center;
}

.l45 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: center;
}

.l60 {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  transform-origin: center;
}

.l75 {
  -webkit-transform: rotate(-75deg);
  transform: rotate(-75deg);
  transform-origin: center;
}

.l90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: center;
}

.r05 {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  transform-origin: center;
}

.r07 {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  transform-origin: center;
}

.r10 {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  transform-origin: center;
}

.r12 {
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  transform-origin: center;
}

.r15 {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  transform-origin: center;
}

.r30 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  transform-origin: center;
}

.r45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center;
}

.r60 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  transform-origin: center;
}

.r75 {
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
  transform-origin: center;
}

.r90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: center;
}

.x10 {
  -webkit-transform: skewX(10deg);
  transform: matrix(1, 0, 0.17633, 1, 0, 0);
  transform-origin: center;
}

.x15 {
  -webkit-transform: skewX(15deg);
  transform: matrix(1, 0, 0.26795, 1, 0, 0);
  transform-origin: center;
}

.x20 {
  -webkit-transform: skewX(20deg);
  transform: matrix(1, 0, 0.36397, 1, 0, 0);
  transform-origin: center;
}

.x30 {
  -webkit-transform: skewX(30deg);
  transform: matrix(1, 0, 0.57735, 1, 0, 0);
  transform-origin: center;
}

.x45 {
  -webkit-transform: skewX(45deg);
  transform: matrix(1, 0, 1, 1, 0, 0);
  transform-origin: center;
}

.x60 {
  -webkit-transform: skewX(60deg);
  transform: matrix(1, 0, 1.73205, 1, 0, 0);
  transform-origin: center;
}

.x-10 {
  -webkit-transform: skewX(-10deg);
  transform: matrix(1, 0, -0.17633, 1, 0, 0);
  transform-origin: center;
}

.x-15 {
  -webkit-transform: skewX(-15deg);
  transform: matrix(1, 0, -0.26795, 1, 0, 0);
  transform-origin: center;
}

.x-20 {
  -webkit-transform: skewX(-20deg);
  transform: matrix(1, 0, -0.36397, 1, 0, 0);
  transform-origin: center;
}

.x-30 {
  -webkit-transform: skewX(-30deg);
  transform: matrix(1, 0, -0.57735, 1, 0, 0);
  transform-origin: center;
}

.x-45 {
  -webkit-transform: skewX(-45deg);
  transform: matrix(1, 0, -1, 1, 0, 0);
  transform-origin: center;
}

.x-60 {
  -webkit-transform: skewX(-60deg);
  transform: matrix(1, 0, -1.73205, 1, 0, 0);
  transform-origin: center;
}

.y10 {
  -webkit-transform: skewY(10deg);
  transform: matrix(1, 0.17633, 0, 1, 0, 0);
  transform-origin: center;
}

.y15 {
  -webkit-transform: skewY(15deg);
  transform: matrix(1, 0.26795, 0, 1, 0, 0);
  transform-origin: center;
}

.y20 {
  -webkit-transform: skewY(20deg);
  transform: matrix(1, 0.36397, 0, 1, 0, 0);
  transform-origin: center;
}

.y30 {
  -webkit-transform: skewY(30deg);
  transform: matrix(1, 0.57735, 0, 1, 0, 0);
  transform-origin: center;
}

.y45 {
  -webkit-transform: skewY(45deg);
  transform: matrix(1, 1, 0, 1, 0, 0);
  transform-origin: center;
}

.y60 {
  -webkit-transform: skewY(60deg);
  transform: matrix(1, 1.73205, 0, 1, 0, 0);
  transform-origin: center;
}

.y-10 {
  -webkit-transform: skewY(-10deg);
  transform: matrix(1, -0.17633, 0, 1, 0, 0);
  transform-origin: center;
}

.y-15 {
  -webkit-transform: skewY(-15deg);
  transform: matrix(1, -0.26795, 0, 1, 0, 0);
  transform-origin: center;
}

.y-20 {
  -webkit-transform: skewY(-20deg);
  transform: matrix(1, -0.36397, 0, 1, 0, 0);
  transform-origin: center;
}

.y-30 {
  -webkit-transform: skewY(-30deg);
  transform: matrix(1, -0.57735, 0, 1, 0, 0);
  transform-origin: center;
}

.y-45 {
  -webkit-transform: skewY(-45deg);
  transform: matrix(1, -1, 0, 1, 0, 0);
  transform-origin: center;
}

.y-60 {
  -webkit-transform: skewY(-60deg);
  transform: matrix(1, -1.73205, 0, 1, 0, 0);
  transform-origin: center;
}

/*JS连携*/
/*弹框注释*/
div.change  {
  position: relative;
}

div.change a {
  cursor: help;
}

div.change aside {
  visibility: hidden;
  position: absolute;
  width: fit-content;
  margin: 0;
}

/*旋转图片*/
img.change {
  max-width: 90vh;
  max-height: 100vw;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: center;
}

/*虚空文学旅团ePub组*/