<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>STERA-X</name>
  <type>edit</type>
  <author>明日✿咲葉</author>
  <description>虚空文学旅团STERAePub++自动化书源处理</description>
  <engine>python3.4</engine>
  <version>1.3.1a6</version>
  <oslist>osx,unx,win</oslist>
  <autostart>true</autostart>
  <autoclose>false</autoclose>
</plugin>
